@{
  Layout = "_angular";
}

<div ng-controller="User">

  <input ng-model="userName" type="text" placeholder="username"/>
  <input ng-model="email" type="text" placeholder="mail" />
  <input ng-model="password" type="password" placeholder="password" />
  <input ng-model="passwordRepeat" type="password" placeholder="repeat password" />

  <button ng-click="register()" >Register</button>

  

  <p>Your username: {{userName}}</p>
  <p>Server message: {{message}}</p>

</div>

@section angularScript{
  <script src="~/app/user.js"></script>
}
