<!DOCTYPE html>

<html ng-app="app">
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
</head>
<body>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      
      <li><a asp-area="" asp-controller="Angular" asp-action="Main">Main</a></li>
      <li><a asp-area="" asp-controller="Angular" asp-action="UserRegister">Register user</a></li>
      <li><a asp-area="" asp-controller="Angular" asp-action="ToDoTypes">To do types</a></li>
      <li><a asp-area="" asp-controller="Angular" asp-action="ToDoList">To do list</a></li>
      <li><a asp-area="" asp-controller="Angular" asp-action="Reports">Reports</a></li>
    </ul>
  </div>
  @RenderBody()
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/lib/angular/angular.js"></script>
  <script src="~/app/app.module.js"></script>
  @RenderSection("angularScript")
</body>
</html>
